@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700");
@import url("https://api.fontshare.com/css?f[]=inter@400,700&display=swap");

p,
ol,
ul {
  margin: 0px;
}

button {
  padding: 0px;
}

ol,
ul {
  padding-inline-start: 1.5em;
}

input {
  background-image: none;
  background-color: transparent;
}
