.title-in-dash {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    gap: 10px;
    padding: 10px;
    padding-bottom: 5px;

    .totalPending {
        background-color: var(--primary-background);
        color: var(--light-color-text);
        width: fit-content;
        text-align: center;
        font-size: 20px;
        padding: 10px;
        border-radius: 10px;
        align-items: center;
        justify-items: center;
    }
}