.common-1,
.t-image-james-fbbusiness-owner,
.t-image-emproster-has-greatly-simplified-scheduling-for-my-business-ensuring-smoother-shift-management-and-reducing-conflicts-among-staff {
  display: flex;
  justify-content: center;
  align-items: center;
}

.common-2,
.t-image-t-image-14tjames-fbbusiness-owner-emproster-has-greatly-simplified-scheduling-for-my-business-ensuring-smoother-shift-management-and-reducing-conflicts-among-staff-1,
.t-image-t-james-fbbusiness-owner {
  display: flex;
  flex-direction: column;
}

.feedback-feedback {
  border-style: solid;
  border-color: #0000007f;
  border-top-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-right-width: 2px;
  background-color: white;
  padding-bottom: 26px;
  padding-left: 44px;
  padding-right: 44px;
  padding-top: 26px;
  display: flex;
  width: 100%;
  line-height: normal;
}

.feedback-tt-image-14tjames-fbbusiness-owner-emproster-has-greatly-simplified-scheduling-for-my-business-ensuring-smoother-shift-management-and-reducing-conflicts-among-staff-timage-tbailey-tan-logistics-company-emproster-helps-us-efficiently-manage-employee-shifts-and-workload-distribution-improving-operational-efficiency-and-minimizing-scheduling-errors-timage-tdaniel-wong-healthcare-facility-manager-emproster-has-streamlined-our-staff-scheduling-ensuring-optimal-shift-coverage-and-reducing-last-minute-changes-it-san-essential-tool-for-our-workforce-management {
  font-size: 15px;
  font-family: Inter, ui-sans-serif, system-ui, sans-serif;
  line-height: 1.4;
  color: gray;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-right: 51px;
  padding-top: 13px;
  flex-grow: 1;
  gap: 9px;
}

.feedback-t-image-14tjames-fbbusiness-owner-emproster-has-greatly-simplified-scheduling-for-my-business-ensuring-smoother-shift-management-and-reducing-conflicts-among-staff {
  width: 373px;
}

.feedback-t-image-tbailey-tan-logistics-company-emproster-helps-us-efficiently-manage-employee-shifts-and-workload-distribution-improving-operational-efficiency-and-minimizing-scheduling-errors {
  width: 373px;
}

.feedback-t-image-tdaniel-wong-healthcare-facility-manager-emproster-has-streamlined-our-staff-scheduling-ensuring-optimal-shift-coverage-and-reducing-last-minute-changes-it-san-essential-tool-for-our-workforce-management {
  width: 373px;
}

.t-image-t-image-14tjames-fbbusiness-owner-emproster-has-greatly-simplified-scheduling-for-my-business-ensuring-smoother-shift-management-and-reducing-conflicts-among-staff-1 {
  align-items: center;
  gap: 8px;
}

.t-image-image {
  object-fit: cover;
  object-position: center;
  width: 93px;
  height: 69px;
  text-align: center;
}

.t-image-t-james-fbbusiness-owner {
  align-self: stretch;
  max-width: 373px;
  padding-top: 16px;
  justify-content: center;
  text-align: center;
}

.t-image-james-fbbusiness-owner {
  height: 44px;
  color: black;
  line-height: 1.2;
}

.t-image-main-text {
  text-align: center;
}

.t-image-para {
  font-size: 23px;
  font-weight: 600;
}

.t-image-emproster-has-greatly-simplified-scheduling-for-my-business-ensuring-smoother-shift-management-and-reducing-conflicts-among-staff {
  align-self: stretch;
  text-align: center;
}
