.user-profile-data {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: start;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    width: 100%;

    .icon-title {
        min-width: 13px;
        max-width: 13px;
    }

    .title, .edit-title {
        min-width: 100px;
        max-width: 100px;
        font-weight: bold;
    }

    .edit-title {
        padding-top: 5px;
    }

    .main-data {
        width: 100%;
    }

    input {
        height: 30px !important;
        width: 100%;
    }
}

.user-profile-title-icon {
    font-size: 20px;
    align-self: center;

    .title-with-icon {
        font-weight: normal !important;
        font-size: 15px;
    }
}

.even-row {
    background-color: var(--hover-background);
    padding-top: 5px;
    padding-bottom: 5px;
}

.update-user-profile-button {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 5px;
}

.user-profile-nric-contain {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    min-width: 100% !important;
}

.hide-show-nric-icon {
    align-self: center;
    font-size: 20px;
}

.hide-show-nric-icon:hover {
    cursor: pointer;
    color: var(--error);
}

.emp-employeer-user-profile-main-content {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .title {
        max-width: 23px;
    }
}

.emp-uswr-profile-other-info {
    display: flex;
    flex-direction: column;
    gap: 2px;

    .no-of-leave {
        display: flex;
        flex-direction: row;
        gap: 5px;
    }

    .title {
        max-width: fit-content;
    }
}

.emp-user-profile-other-and-employeer-container {
    display: flex;
    flex-direction: row;
    gap: 35px;
}

.emp-uswr-profile-employeer-info {
    display: flex;
    flex-direction: column;

    .user-profile-data {
        flex-direction: row;
        align-items: center;
    }
}

/* Mobile (all screens below 768px) */
@media only screen and (max-width: 768px) {
    .user-profile-data {
        flex-direction: column;
    }

    .user-profile-title-icon { 
        width: 100% !important;
        align-self: start;
        padding-bottom: 2px;
        border-bottom: 1px;
        border-bottom-style: dotted;
        border-bottom-color: var(--primary-background);
    }

    .emp-user-profile-other-and-employeer-container {
        flex-direction: column;
    }
}