div{
    width: 100%;
    justify-content: space-between;
}

.navbar {
    display: flex;
    flex-direction: row;
    height: 65px;
    justify-content: space-between;
    align-content: space-between;
    width: 100%;
    align-items: center;
    padding: 10px;
    background-color: var(--primary-background);
    color: var(--light-color-text);
    max-height: fit-content;
  }
  
  .front {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 5px;
    max-width: fit-content;
  }

  .nav-link {
    width: 50px;
    min-width: 50px;
  }

  .nav-user-role {
    width: 100%;
  }

  .btn-group {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 5px;
    justify-self: end;
    align-items: center;
  }

  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .nav-button {
    padding: 5px;
    font-size: 30px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .nav-button:hover {
    background-color: var(--main-page-background);
    color: black;
  }

  .hamburger-menu-icon {
    display: none;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    margin-right: 5px;
  }

.landing-navbar-navlink-group{
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 15px;
  margin-left: 10px;
}

.landing-navbar-navlink {
  text-decoration: none;
  color: var(--light-color-text);
  font-size: 1rem;
  transition: color 0.3s ease;
}

.landing-navbar-navlink:hover {
  color: var(--purple-color-text);
}

.landing-navbar-LR {
  display: flex;
  flex-direction: row;
  justify-content: right;
  gap: 10px;
}

.landing-navbar-button-LR{
  padding: 6px 18px; /* Slightly smaller height */
  background-color: var(--secondary-background);
  color: var(--primary-background); /* Black text */
  border: 2px solid var(--popup-background); /* Black border */
  border-radius: 30px;
  font-size: 1rem;
  font-weight: 600; /* Bold */
  cursor: pointer;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1), -2px -2px 6px rgba(255, 255, 255, 0.2);
  transition: all 0.3s ease;
 }

.landing-navbar-button-LR:hover {
  background-color: var(--side-menu-hover-background); /* Black on hover */
  color: var(--secondary-background); /* White text on hover */
  border-color: var(--secondary-backgrounvd); /* White border on hover */
  transform: translateY(-2px); /* Slight hover effect */
}

/* Mobile (all screens below 768px) */
@media only screen and (max-width: 768px) {
  .hamburger-menu-icon {
    display: flex;
  }

  .landing-navbar-navlink-group {
    display: none; /* Hide navbar links on mobile */
  }
}