.subscription-plans {
  padding: 50px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.subscription-plans h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.plans-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.plan-card {
  background-color: #fff;
  padding: 20px;
  width: 450px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.plan-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.plan-icon {
  font-size: 2.5rem;
  color: #007bff;
  margin-bottom: 15px;
}

.plan-card h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.plan-card p {
  font-size: 1rem;
  color: #555;
  margin-top: 10px;
}

.plan-price {
  font-size: 1.2rem;
  font-weight: bold;
  color: #007bff;
  margin-top: 10px;
}

.plan-date {
  font-size: 0.9rem;
  color: #888;
  margin-top: 10px;
}

/* Make the table span full width of card */
.plan-card table {
  margin-top: 3vh;
  width: 100%;
  border-collapse: collapse;
}

/* Optional: add some padding for breathing room */
.plan-card table td {
  padding: 4px 8px;
  vertical-align: middle;
}

/* Left-align only the feature column (2nd <td>) */
.plan-card table td:nth-child(2) {
  text-align: left;
}

/* Target the check icon inside your feature table */
.plan-card table td svg {
  color: #8BC34A;  /* light green */
}

.divider-icon {
  width: 100%;
  text-align: center;
  color: #ccc;
  margin: 16px 0;
}
.divider-icon svg {
  width: 50%;
  height: 1px;
}




/* Mobile View */
@media (max-width: 768px) {
  .plans-list {
    flex-direction: column;
    align-items: center;
  }

  .plan-card {
    width: 100%;
    max-width: 400px;
  }
}
